.TieuDe {
    color: black;
    font-weight: bold;
}

.chiTiet {
    color: #1fb5d4;
    font-weight: bold;
}

.DangGiao {
    color: #34ce57;
    font-weight: bold;
}

.DaGiao {
    color: red;
    font-weight: bold;
}

.kiemHang {
    color: orange;
    font-weight: bold;
}

/*
Responsive
Tablet
 */
@media screen and ( max-width: 736px ) {

    .main:before, main :after {
        content: "";
        display: table;
        clear: both;
    }

    .main {
        max-width: 100%;
    }

    .tab {
        margin-top: 0%;
    }

}