.TieuDe {
    color: black;
    font-weight: bold;
}

.dropdown1 {
    margin-left: 50px;
    margin-right: 100px;
    float: left;
    clear: right;
}

.button {
    float: left;
    clear: right;
    margin-left: 350px;
    margin-top: -105px;
    margin-bottom: 10px;
}

/*
Responsive
Tablet
 */
@media screen and ( max-width: 736px ) {

    .main:before, main :after {
        content: "";
        display: table;
        clear: both;
    }

    .main {
        max-width: 100%;
    }

    .tab {
        margin-top: 0%;
    }
}