body {
    margin: 0;
    overflow: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#SanPhamNoiBat a {
    color: black;
    text-decoration: none;
}

#trangChu_DanhMuc a {
    color: black;
    text-decoration: none;
}

#SanPhamHot a {
    color: black;
    text-decoration: none;
}

#layout5 a {
    color: black;
    text-decoration: none;
}

.meoVatHay a {
    color: black;
    text-decoration: none;
}

#sanPham1 a {
    color: black;
    text-decoration: none;
}

#SanPhamMoi a {
    color: black;
    text-decoration: none;
}

#layout4 .layout4_danhMucSanPham .danhMucSanPham a {
    color: white;
    text-decoration: none;
}

#Thanh_cong_cu {
    background: darkturquoise;
    width: 100%;
    height: 80px;
}

#Thanh_cong_cu input[type="text"] {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 12px 14px;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

#Thanh_cong_cu #Ten_Web {
    float: left;
    margin-left: 35px;
}

#Thanh_cong_cu .fa-search {
    float: left;
    margin-top: 12px;
    margin-left: 13px;
}

#Tim_Kiem {
    border-radius: 5px;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    background: blue;
    border: 1px solid #0a58ca;
    color: white;
}

#Tim_Kiem:hover {
    cursor: pointer;
    background: blue;
}

#Thanh_cong_cu #Hotline a {
    color: black;
}

#Thanh_cong_cu #Hotline .fa-phone-square {
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}

#Thanh_cong_cu #Hotline .fa-phone-square:hover {
    color: white;
    cursor: pointer;
}

#Thanh_cong_cu #Hotline #chu_HotLine {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
}

#Thanh_cong_cu #Hotline #chu_HotLine:hover {
    color: white;
    cursor: pointer;
}

#Thanh_cong_cu #TaiKhoan .fa-user-circle {
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}

#Thanh_cong_cu #TaiKhoan a {
    color: black;
    text-decoration: none;
}

#Thanh_cong_cu #TaiKhoan .fa-user-circle:hover {
    color: white;
    cursor: pointer;
}

#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 100%;
}

#Thanh_cong_cu #TaiKhoan #dangNhap_dangKy:hover .danhNhap:hover a {
    color: white;
    cursor: pointer;
}

.danhNhap {
    float: left;
    clear: right;
}

.danhNhap:hover a {
    color: white;
    cursor: pointer;
}

.cheo {
    float: left;
    clear: right;
}

.dangKi {
    float: left;
    clear: right;
}

.dangKi:hover {
    color: white;
    cursor: pointer;
}

.taiKhoanCuaToi {
    float: left;
    clear: right;
    margin-left: -135px;
    margin-top: 35px;
}

.taiKhoanCuaToi a {
    color: black;
    text-decoration: none;
}

.taiKhoanCuaToi:hover a {
    color: white;
    cursor: pointer;
}

#Thanh_cong_cu #gioHang .fa-shopping-cart {
    float: left;
    font-size: 35px;
    margin-left: 45px;
    margin-top: 28px;
}

#Thanh_cong_cu #gioHang a {
    color: black;
}

#Thanh_cong_cu #gioHang .fa-shopping-cart:hover {
    color: white;
    cursor: pointer;
}

#Thanh_cong_cu #gioHang #chu_giohang {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 100%;
}

#Thanh_cong_cu #gioHang #chu_giohang:hover {
    color: white;
    cursor: pointer;
}

#trangChu_DanhMuc {
    float: left;
    clear: right;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: lightcyan;
    margin-top: -10px;
}

#trangChu_DanhMuc #danhMuc {
    float: left;
    clear: right;
    margin-left: 200px;
    margin-top: 0px;
    width: 260px;
    height: 50px;
}

#trangChu_DanhMuc #danhMuc:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}


#trangChu_DanhMuc #anh_danhMuc {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#trangChu_DanhMuc #chu_DanhMuc {
    margin-left: 25px;
    margin-top: 15px;
}


#trangChu_DanhMuc #danhMuc #top {
    margin-left: 0px;
    margin-bottom: 50px;
    margin-top: -5px;
    width: 260px;
    display: none;
    position: absolute;
}

#trangChu_DanhMuc #danhMuc #top a {
    color: black;
    text-decoration: none;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc1 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc2 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc3 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc4 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc5 {
    border: 1px solid darkgray;
    height: 50px;
    width: 99%;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc1 .noiDungSanPham1 {
    margin-left: 30px;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc2 .noiDungSanPham2 {
    margin-left: 25px;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc3 .noiDungSanPham3 {
    margin-left: 25px;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc4 .noiDungSanPham4 {
    margin-left: 25px;

}

#trangChu_DanhMuc #danhMuc #top .danhMuc5 .noiDungSanPham5 {
    margin-left: 25px;

}

#trangChu_DanhMuc #danhMuc:hover #top {
    display: block;
    background: white;
    color: black;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc1:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc2:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc3:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc4:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #danhMuc #top .danhMuc5:hover {
    background: #1fb5d4;
    color: white;
}

#trangChu_DanhMuc #trangchu {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 200px;
}

#trangChu_DanhMuc #trangchu .ten {
    text-align: center;
    margin-top: 13px;
}

#trangChu_DanhMuc #trangchu:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #heThongCuaHang {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 250px;
}

#trangChu_DanhMuc #heThongCuaHang .ten {
    text-align: center;
    margin-top: 13px;
}

#trangChu_DanhMuc #heThongCuaHang:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #tinTuc {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 160px;
}

#trangChu_DanhMuc #tinTuc .ten {
    text-align: center;
    margin-top: 13px;
}

#trangChu_DanhMuc #tinTuc:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#trangChu_DanhMuc #lienHe {
    float: left;
    clear: right;
    margin-left: 0px;
    margin-top: 0px;
    height: 50px;
    width: 160px;
}

#trangChu_DanhMuc #lienHe .ten {
    text-align: center;
    margin-top: 13px;
}

#trangChu_DanhMuc #lienHe:hover {
    color: white;
    background: #1fb5d4;
    cursor: pointer;
}

#layout6 {
    width: 100%;
    height: 550px;
    background: #e1ffdb;
    margin-top: 100px;
}

#layout6 .TieuDe .ten {
    float: left;
    clear: right;
    font-size: 200%;
    margin-top: 0px;
    width: 180px;
    height: 80px;
    color: white;
    background: darkorange;
    text-align: center;
}

#layout6 .TieuDe .thanhKe {
    margin-top: 0px;
}

#layout6 .meoVatHay {
    margin-left: -10px;
}

#layout6 .meoVatHay .meoVat {
    float: left;
    clear: right;
    width: 375px;
    height: 265px;
    margin-right: 30px;
    margin-left: 101px;
}

#layout6 .meoVatHay .meoVat1 {
    float: left;
    clear: right;
    width: 500px;
    height: 500px;
    margin-right: 50px;
    margin-left: 28px;
    margin-top: 40px;
}

#layout6 .meoVatHay .meoVat1 .anh {
    width: 600px;
    height: 450px;
    margin-left: -7px;
}

#layout6 .meoVatHay .meoVat .ten {
    margin-top: 10px;
    width: 900px;
}

.buttonTP {
    width: 200px;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    background: #dd4b39;
    color: white;
    border-radius: 10px;
}

.buttonTP:hover {
    background: white;
    color: #dd4b39;
    cursor: pointer;
}

.buttonHN {
    width: 100px;
    height: 45px;
    font-size: 100%;
    font-weight: bold;
    background: #dd4b39;
    color: white;
    border-radius: 10px;
}

.buttonHN:hover {
    background: white;
    color: #dd4b39;
    cursor: pointer;
}

.noiDung {
    font-size: 120%;
    width: 570px;
}

#layout7 .thanhDuoi {
    width: 100%;
    height: 500px;
    background: darkturquoise;
    margin-top: 50px;
}

#layout7 .thanhDuoi .tenWeb {
    margin-left: 30px;
    float: left;
    clear: right;
    width: 300px;
    margin-right: 70px;
}

#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square {
    float: left;
    clear: right;
    font-size: 200%;
    margin-right: 10px;
}

#layout7 .thanhDuoi .tenWeb .hotline a {
    color: black;
}

#layout7 .thanhDuoi .tenWeb .hotline .fa-phone-square:hover {
    color: white;
    cursor: pointer;
}

#layout7 .thanhDuoi .tenWeb .hotline .line {
    font-size: 150%;
    color: white;
}

#layout7 .thanhDuoi .thongTin {
    float: left;
    clear: right;
    margin-right: -239px;
}

#layout7 .thanhDuoi .thongTin .right .fa {
    float: left;
    clear: right;
    margin-right: 10px;
}

#layout7 .thanhDuoi .thongTin .right .noiDung {
    margin-left: 20px;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang {
    float: left;
    clear: right;
    margin-right: 100px;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a {
    color: black;
    text-decoration: none;
}

#layout7 .thanhDuoi .NoiDung .hoTro .chucNang a:hover {
    color: white;
    cursor: pointer;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left {
    float: left;
    clear: right;
    margin-top: 220px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left {
    float: left;
    clear: right;
    margin-left: -1450px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang {
    border-radius: 100px;
    margin-right: 10px;
    width: 53px;
    height: 53px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang:hover {
    cursor: pointer;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right {
    float: left;
    clear: right;
    margin-left: -1450px;
    margin-top: 110px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang {
    border-radius: 5px;
    margin-right: 10px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang:hover {
    cursor: pointer;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
    float: left;
    clear: right;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 50px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .email {
    float: left;
    clear: right;
    width: 400px;
    height: 50px;
    background: white;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: -310px;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi {
    float: left;
    clear: right;
    width: 120px;
    height: 50px;
    background: white;
    color: black;
    margin-top: -55px;
    border-radius: 10px;
    margin-left: 1280px;
    font-size: 190%;
    border: 1px solid black;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi:hover {
    background: blue;
    color: white;
}

#layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi .dangKi {
    margin-top: 8px;
    margin-left: 15px;
}

/*Responsive*/
/*Mobile*/
@media screen and (max-width: 736px) {
    html {
        font-size: 14px;
    }

    #Thanh_cong_cu {
        background: darkturquoise;
        width: 100%;
        height: 100px;
    }

    #Thanh_cong_cu #Ten_Web {
        margin-left: 11px;
        font-size: 9px;
    }

    #Thanh_cong_cu input[type="text"] {
        width: 187px;
        padding: 4px 14px;
        margin-left: 165px;
        margin-top: -36px;
    }

    #Tim_Kiem {
        margin-left: 355px;
        margin-top: -37px;
        height: 25px;
        width: 28px;
    }

    #Thanh_cong_cu .fa-search {
        float: left;
        margin-top: 4px;
        margin-left: 7px;
    }

    #Thanh_cong_cu #Hotline .fa-phone-square {
        font-size: 30px;
        margin-left: 9px;
        margin-top: 7px;
    }

    #Thanh_cong_cu #Hotline #chu_HotLine {
        margin-left: 10px;
        margin-top: -5px;
        font-size: 88%;
    }

    #Thanh_cong_cu #TaiKhoan .fa-user-circle {
        font-size: 28px;
        margin-left: 25px;
        margin-top: 6px;
    }

    #Thanh_cong_cu #TaiKhoan #dangNhap_dangKy {
        margin-left: 7px;
        margin-top: -7px;
        font-size: 88%;
    }

    .taiKhoanCuaToi {
        margin-left: -99px;
        margin-top: 5px;
        font-size: 88%;
    }

    #Thanh_cong_cu #gioHang .fa-shopping-cart {
        font-size: 30px;
        margin-left: 27px;
        margin-top: 6px;
    }

    #Thanh_cong_cu #gioHang #chu_giohang {
        margin-left: 14px;
        margin-top: 0px;
        font-size: 88%;
    }

    #trangChu_DanhMuc #danhMuc {
        margin-left: 1px;
        margin-top: 0px;
    }

    #trangChu_DanhMuc {
        height: 40px;
        margin-top: -10px;
    }

    #trangChu_DanhMuc #anh_danhMuc {
        width: 40px;
        height: 40px;
        margin-left: -7px;
    }

    #trangChu_DanhMuc #chu_DanhMuc {
        display: none;
    }

    #trangChu_DanhMuc #danhMuc #top {
        margin-left: -5px;
        margin-bottom: 0px;
        margin-top: 40px;
        width: 140px;
        font-size: 10px;
    }

    #trangChu_DanhMuc #danhMuc {
        margin-left: 4px;
        margin-top: 0px;
        width: 0px;
        height: 50px;
    }

    #trangChu_DanhMuc #chu_DanhMuc {
        display: none;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc1 {
        height: 35px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc1 .noiDungSanPham1 {
        margin-left: 5px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc2 {
        height: 35px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc2 .noiDungSanPham2 {
        margin-left: 5px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc3 {
        height: 35px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc3 .noiDungSanPham3 {
        margin-left: 5px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc4 {
        height: 35px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc4 .noiDungSanPham4 {
        margin-left: 5px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc5 {
        height: 35px;
    }

    #trangChu_DanhMuc #danhMuc #top .danhMuc5 .noiDungSanPham5 {
        margin-left: 5px;
    }

    #trangChu_DanhMuc #trangchu {
        margin-left: 40px;
        margin-top: 0px;
        height: 40px;
        width: 77px;
        font-size: 10px;
    }

    #trangChu_DanhMuc #heThongCuaHang {
        margin-left: 11px;
        height: 40px;
        width: 121px;
        font-size: 10px;
    }

    #trangChu_DanhMuc #tinTuc {
        margin-left: 9px;
        height: 40px;
        width: 66px;
        font-size: 10px;
    }

    #trangChu_DanhMuc #lienHe {
        margin-left: 11px;
        height: 40px;
        width: 47px;
        font-size: 10px;
    }

    /* */
    #layout6 {
        width: 100%;
        height: 962px;
        margin-top: 30px;
    }

    #layout6 .TieuDe .ten {
        margin-top: 0px;
        width: 265px;
        height: 47px;
    }

    #layout6 .meoVatHay .meoVat1 {
        margin-top: -20px;
    }

    #layout6 .meoVatHay .meoVat1 .anh {
        width: 380px;
        height: 380px;
        margin-left: -7px;
    }

    #layout6 .meoVatHay .meoVat {
        margin-left: 21px;
        margin-top: -74px;
    }

    #layout6 .meoVatHay .meoVat .ten {
        font-size: 16px;
    }

    .noiDung {
        font-size: 120%;
        width: 369px;
    }

    /* */
    #layout7 .thanhDuoi {
        width: 100%;
        height: 495px;
        margin-top: 0px;
    }

    #layout7 .thanhDuoi .tenWeb {
        margin-left: 4px;
        width: 164px;
        margin-right: 25px;
        font-size: 8px;
    }

    #layout7 .thanhDuoi .thongTin {
        margin-right: 24px;
        margin-left: 199px;
        margin-top: -104px;
        font-size: 9px;
    }

    #layout7 .thanhDuoi .NoiDung .hoTro .chucNang {
        font-size: 8px;
        margin-right: 39px;
        margin-left: 16px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left {
        margin-top: 222px;
        font-size: 12px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left {
        margin-left: 3px;
        margin-top: -479px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left .mang {
        width: 20px;
        height: 20px;
        margin-top: -8px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right {
        margin-left: 0px;
        margin-top: -430px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right .mang {
        height: 20px;
        width: 25px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
        margin-left: 123px;
        font-size: 16px;
        margin-top: -207px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .email {
        width: 259px;
        height: 33px;
        margin-top: -150px;
        margin-left: 15px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi {
        width: 83px;
        height: 34px;
        margin-top: -148px;
        margin-left: 293px;
        font-size: 147%;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi .dangKi {
        margin-top: 5px;
        margin-left: 11px;
    }
}

/*Tablet*/
@media only screen and (min-width: 640px) and (max-width: 1024px) {
    h1 {
        font-size: 1em;
    }

    #Thanh_cong_cu input[type="text"] {
        width: 162px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 9px 14px;
        float: left;
        margin-left: -125px;
        margin-top: 34px;
    }

    #Tim_Kiem {
        border-radius: 5px;
        float: left;
        margin-left: 2px;
        margin-top: 34px;
        height: 34px;
        width: 41px;
        background: blue;
        border: 1px solid #0a58ca;
        color: white;
    }

    #Thanh_cong_cu #Hotline .fa-phone-square {
        float: left;
        font-size: 35px;
        margin-left: 45px;
        margin-top: 34px;
    }

    #Thanh_cong_cu #Hotline #chu_HotLine {
        float: left;
        margin-left: 10px;
        margin-top: 17px;

    }

    #Thanh_cong_cu #TaiKhoan .fa-user-circle {
        float: left;
        font-size: 35px;
        margin-left: 35px;
        margin-top: 35px;
    }

    #Thanh_cong_cu #TaiKhoan #dangNhap_dangKy {
        display: none;
    }

    .taiKhoanCuaToi {
        margin-left: 14px;
        margin-top: 24px;
    }

    #Thanh_cong_cu #gioHang .fa-shopping-cart {
        float: left;
        font-size: 35px;
        margin-left: 43px;
        margin-top: 35px;
    }

    #Thanh_cong_cu #gioHang #chu_giohang {
        display: none;
    }

    #trangChu_DanhMuc {
        margin-top: -15px;
    }

    #trangChu_DanhMuc #danhMuc {
        float: left;
        clear: right;
        margin-left: 0px;
        margin-top: 0px;
        height: 50px;
        width: 0px;
    }

    #trangChu_DanhMuc #chu_DanhMuc {
        display: none;
    }

    #trangChu_DanhMuc #danhMuc #top {
        margin-left: 0px;
        margin-bottom: 50px;
        margin-top: 52px;
        width: 260px;
        display: none;
        position: absolute;
    }

    #trangChu_DanhMuc #trangchu {
        float: left;
        clear: right;
        margin-left: 53px;
        margin-top: 0px;
        height: 50px;
        width: 150px;
    }

    #trangChu_DanhMuc #tinTuc {
        float: left;
        clear: right;
        margin-left: 0px;
        margin-top: 0px;
        height: 50px;
        width: 140px;
    }

    #trangChu_DanhMuc #lienHe {
        float: left;
        clear: right;
        margin-left: 0px;
        margin-top: 0px;
        height: 50px;
        width: 140px;
    }

    /*  */
    #layout6 {
        height: 990px;
    }

    #layout6 .meoVatHay .meoVat1 {
        margin-left: 330px;
    }

    #layout6 .meoVatHay .meoVat1 .anh {
        width: 523px;
        height: 450px;
        margin-right: 38px;
        margin-left: -101px;
        margin-top: -149px;
    }

    #layout6 .meoVatHay .meoVat {
        width: 361px;
        height: 270px;
        margin-right: 9px;
        margin-left: 219px;
        margin-top: -180px;
        font-size: 15px;
    }

    .noiDung {
        font-size: 111%;
        width: 515px;
    }

    /* Thanh duoi*/
    #layout7 .thanhDuoi {
        height: 787px;
        margin-top: 0px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left {
        float: left;
        clear: right;
        margin-top: -212px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .left {
        margin-left: -699px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_left .right {
        margin-left: -699px;
        margin-top: 110px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .nhanTin {
        margin-left: 210px;
    }

    #layout7 .thanhDuoi .NoiDung .lienLac .lienLac_right .from .fromDangKi {
        margin-left: 545px;

    }
}